{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Gaurav Sharma - Curriculum Vitae</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Joe Bloggs."/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap" rel="stylesheet">
<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
<!--		<div id="headshot" class="quickFade">-->
<!--			<img src="{% static 'images/headshot.jpg'%}" alt="Alan Smith" />-->
<!--		</div>-->
		
		<div id="name">
			<h1 class="quickFade delayTwo">Gaurav Sharma </h1>
			<h2 class="quickFade delayThree">Software Development Engineer</h2>
		</div>

		<div id="contactDetails1" class="quickFade delayFour">
			<ul class="bullets">
				<li class="bullets1"><a href="mailto:gsharma368@gmail.com" target="_blank">gsharma368@gmail.com &emsp;</a><img src="{% static 'images/email.png'%}" alt="Gaurav Sharma" /></li>
				<li class="bullets1">Delhi, India&emsp; <img src="{% static 'images/location.png'%}" alt="Gaurav Sharma" /></li>
				<li class="bullets1">9962202544&emsp; <img src="{% static 'images/phone.png'%}" alt="Gaurav Sharma" /></li>
				<li class="bullets1">linkedin.com/in/gaurav-sharma-21b86824 &emsp; <img src="{% static 'images/linkedin.png'%}" alt="Gaurav Sharma" /></li>
			</ul>
		</div>
		<div id="info">
			<h2 class="quickFade delayThree">8+ years of experience in building and designing robust and scalable web services. Full stack knowledge with strong backend fundamentals.</h2>
		</div>

		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
<!--		<section>-->
<!--			<article>-->
<!--				<div class="sectionTitle">-->
<!--					<h1>Personal Profile</h1>-->
<!--				</div>-->
<!--				-->
<!--				<div class="sectionContent">-->
<!--					<p>8+ years of experience in building and designing robust and scalable web services. Full stack knowledge with strong backend fundamentals.</p>-->
<!--				</div>-->
<!--			</article>-->
<!--			<div class="clear"></div>-->
<!--		</section>-->
		<section style="border-bottom: 3px solid #323a4d;">
			<div class="row">
				<div class="column left">
					<div class="sectionContent1">
						<h0>EDUCATION</h0>

						<article class="companyExperience">
							<div class="leftBorderBlock">
								<h1><b>B.Tech in Computer Science (7.70 CGPA)</b> </h1>  <h2>IIT Ropar </h2>
								<p class="subDetailsTime">07/2010 - 05/2014 <p class="subDetailsLocation">Ropar, India</p></p>
							</div>

							<div class="leftPaddingBlock1">
								<p class="subDetailsAchievements">Schooling</p>

								<ul class="bullets">
									<li class="bullets">12th CBSE - 90.8% Sachdeva Public School, New Delhi</li>
									<li class="bullets">10th CBSE - 93.4% Sachdeva Public School, New Delhi</li>
								</ul>
							</div>
						</article>
					</div>
				</div>
				<div class="column right">
					<div class="sectionContent1">
						<article>
							<h3>SKILLS</h3>
							<!--				<div class="leftPaddingBlock">-->
							<div class="sectionContent2">
								<button class="button">Java</button>
								<button class="button">SpringBoot</button>
								<button class="button">Python</button>
								<button class="button">Django</button>
								<button class="button">MongoDB</button>
								<button class="button">SQS</button>
								<button class="button">PostGres</button>
								<button class="button">Kafka</button>
								<button class="button">Redis</button>
								<button class="button">GitHub</button>
								<button class="button">Maven</button>
								<button class="button">AWS</button>
							</div>
						</article>
					</div>
				</div>
			</div>

			<!--				</div>-->
			<div class="clear"></div>
		</section>

		<div class="clear"></div>
		
		<section>
			<div class="sectionTitle">
				<h1>WORK EXPERIENCE</h1>
			</div>
			
			<div class="sectionContent">

				<article class="companyExperience">
					<div class="leftBorderBlock">
						<h1><b>O9 Solutions</b> </h1>  <h2>Senior Software Engineer II, R&D-WebAPI </h2>
						<p class="subDetailsTime">04/2022 - Present <p class="subDetailsLocation">Bangalore, India</p></p>
					</div>

					<div class="leftPaddingBlock">
						<p class="subDetailsWorkDone">o9's Digital Brain platform is helping global companies across industries transform supply chain, revenue, P&L planning, and decision-making for digital age volatility and complexity.</p>
						<p class="subDetailsAchievements">Achievements/Tasks</p>

						<ul class="bullets">
						  <li class="bullets">Led development and cordinated with junior developers & UI/UX designers to scale the platform and make it more robust</li>
						  <li class="bullets">Reduced request response time and maintained platform sanctity by implementing  a new caching layer in ASP.NET</li>
						</ul>
					</div>
				</article>

				<article class="companyExperience">
					<div class="leftBorderBlock">
						<h1><b>Rippling</b> </h1>  <h2>Team Lead, Payroll </h2>
						<p class="subDetailsTime">07/2021 - 04/2022 <p class="subDetailsLocation">Bangalore, India</p></p>
					</div>

					<div class="leftPaddingBlock">
						<p class="subDetailsWorkDone">Workforce Management Solution Platform for employees’ payroll, benefits, expenses, devices, apps & more</p>
						<p class="subDetailsAchievements">Achievements/Tasks</p>

						<ul class="bullets">
						  <li class="bullets">Tech Lead for core payments team to handle daily client tax liability payments to IRS & state tax agencies in the USA</li>
						  <li class="bullets">Built the platform to handle over $100 million payments daily to multiple agencies.</li>
						</ul>
					</div>
				</article>

				<div class="fade_rule"></div>

				<article class="companyExperience">
					<div class="leftBorderBlock">
						<h1><b>Courier-Wala</b> </h1>  <h2>Senior Software Engineer </h2>
						<p class="subDetailsTime">08/2018 - 09/2020 <p class="subDetailsLocation">Noida, India</p></p>
					</div>
					<div class="leftPaddingBlock">
						<p class="subDetailsWorkDone">Courier-Wala is a tech-enabled transport logistics aggregator platform for doorstep to doorstep shipment</p>
						<p class="subDetailsAchievements">Achievements/Tasks</p>

						<ul class="bullets">
						  <li class="bullets">Full life-cycle involvement from analysis, design to implementation and support, working closely with cross functional teams and end users across business units</li>
						  <li class="bullets">Grew from 100 shipments/day to 1000 shipments/day in a span of 6 months, with 500+ clients registered on the platform.</li>
						</ul>
					</div>
				</article>

				<div class="fade_rule"></div>
				
				<article class="companyExperience">
					<div class="leftBorderBlock">
						<h1><b>Opynyn</b> </h1>  <h2>Co-Founder </h2>
						<p class="subDetailsTime">08/2016 - 08/2018 <p class="subDetailsLocation">Noida, India</p></p>
					</div>
					<div class="leftPaddingBlock">
						<p class="subDetailsWorkDone">A platform for users to rate, tag and give their opinions and reviews on the content they consume online. &emsp; </p>
						<p class="subDetailsAchievements">Achievements/Tasks</p>

						<ul class="bullets">
						  <li class="bullets">Onbarding new accounts and product designing starting from the design of API schema to the deployment for external customers, owned and executed the entire project.</li>
						  <li class="bullets">Continuously analyzing KPIs & working on developing platform to improve customer experience and streamline operations.</li>
						</ul>
					</div>
				</article>

				<div class="fade_rule"></div>

				<article class="companyExperience">
					<div class="leftBorderBlock">
						<h1><b>Paypal</b> </h1>  <h2>Software Developer 2</h2>
						<p class="subDetailsTime">06/2014 - 07/2016<p class="subDetailsLocation">Chennai, India</p></p>
					</div>
					<div class="leftPaddingBlock">
						<p class="subDetailsAchievements">Achievements/Tasks</p>

						<ul class="bullets">
							<li class="bullets">Merchant Onboarding Domain - Built a high performance, low latency gateway, for onboarding external merchants, with all risk and compliance services in Paypal.</li>
							<li class="bullets">Reporting Domain - Develop Paypal’s Merchant Reporting System which generates over 15 different reports, < 0.6 Million Daily & 43 Million Monthly Reports</li>
						</ul>
					</div>
				</article>

				<div class="fade_rule"></div>

				<article class="companyExperience">
					<div class="leftBorderBlock">
						<h1><b>Amazon</b> </h1>  <h2>Software Intern</h2>
						<p class="subDetailsTime">05/2013 - 07/2013<p class="subDetailsLocation">Bengaluru, India</p></p>
					</div>
					<div class="leftPaddingBlock">
						<p class="subDetailsAchievements">Achievements/Tasks</p>

						<ul class="bullets">
							<li class="bullets">Implemented automation using Selenium WebDriver, core JAVA, Maven & TestNG</li>
							<li class="bullets">Extensively automated regression and functional test suites and performed defect tracking & management in JIRA.</li>
						</ul>
					</div>
				</article>

				<div class="fade_rule"></div>

				<article class="companyExperience">
					<div class="leftBorderBlock">
						<h1><b>HCL</b> </h1>  <h2>Software Intern</h2>
						<p class="subDetailsTime">05/2012 - 07/2012<p class="subDetailsLocation">Noida, India</p></p>
					</div>
					<div class="leftPaddingBlock">
						<p class="subDetailsAchievements">Achievements/Tasks</p>

						<ul class="bullets">
							<li class="bullets">Built one automated log based debugging system for internal use.</li>
						</ul>
					</div>
				</article>
			</div>

		</section>
		

		<div class="clear"></div>




		
		

		
	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>