html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
border:0;
font:inherit;
font-size:100%;
margin:0;
padding:0;
vertical-align:baseline;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
display:block;
}

html, body {background: #d2d2d2; font-family: 'Lato', helvetica, arial, sans-serif; font-size: 16px; color: #222;}

.clear {clear: both;}

p {
	font-size: 1em;
	line-height: 1.4em;
	margin-bottom: 20px;
	color: #444;
}

#cv {
	width: 90%;
	max-width: 950px;
	background: #f3f3f3;
	margin: 30px auto;
}

.mainDetails {
	padding: 25px 0px;
	border-bottom: 3px solid #323a4d;
	background: #ededed;
}

#name h1 {
	font-size: 3em;
	font-weight: 500;
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
	margin-bottom: -2px;
}

#name h2 {
	font-size: 1.5em;
	margin-left: 2px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 500;
}

#info h2 {
	font-size: 0.9em;
	margin-left: 2px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 500;
	color: black;
}

#mainArea {
	padding: 0 0px;
}

#headshot {
	width: 12.5%;
	float: left;
	margin-right: 30px;
}

#headshot img {
	width: 100%;
	height: auto;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

#name {
	float: left;
	border-left: 50px solid #323a4d;
	padding-left: 20px;

}

#info {
    float: left;
	padding-left: 70px;
	width: 50%;
	margin-top: 15px;
}

#contactDetails1 {
	float: right;
	width: 35%;
	margin-right: 30px;
	list-style-type: none;
}

#contactDetails1 ul {
    text-align: right;
	list-style-type: none;
	font-size: 0.9em;
	margin-top: 1px;
	font-weight: bold;
}

#contactDetails1 ul li {
	margin-bottom: 15px;
	list-style-type: none;
	color: #444;
	font-weight: 500;
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    color: #323a4d;

}

#contactDetails1 ul li a, a[href^=tel] {
	color: #444;
	text-decoration: none;
	list-style-type: none;
}

#contactDetails1 ul li a:hover {
	color: #323a4d;
	list-style-type: none;
}


#contactDetails {
	float: right;
	width: 35%;
	margin-right: 30px;
}

#contactDetails ul {
    text-align: right;
	list-style-type: none;
	font-size: 0.9em;
	margin-top: 1px;
	font-weight: bold;
}

#contactDetails ul li {
	margin-bottom: 15px;
	list-style-type: none;
	color: #444;
	font-weight: 500;
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    color: #323a4d;

}

#contactDetails ul li a, a[href^=tel] {
	color: #444;
	text-decoration: none;
	list-style-type: none;
	-webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	-ms-transition: all .3s ease-in;
	transition: all .3s ease-in;
}

#contactDetails ul li a:hover { 
	color: #323a4d;
	list-style-type: none;
}


section {
	border-top: 1px solid #dedede;
	padding: 20px 0 0;
}

section:first-child {
	border-top: 0;
}

section:last-child {
	padding: 20px 0 10px;
}

.sectionTitle {
	width: 50%;
}

.sectionTitle1 {
	width: 50%;
	padding-left: 20px;
}

.sectionContent {
	float: left;
	width: 100%;
}

.sectionContent1 {
	float: left;
	width: 100%;
}
.sectionContent2 {
	float: left;
	width: 100%;
}
.sectionContent1 h1 {
	font-family: 'ubuntu', Helvetica, Arial, sans-serif;
	font-size: 1.2em;
	margin-bottom: 10px;
	display: inline;
	font-weight: bold;
}

.sectionContent1 h2 {
	font-family: 'ubuntu', Helvetica, Arial, sans-serif;
	font-size: 1.2em;
	margin-bottom: 10px;
	margin-bottom: -2px;
}

.sectionTitle h1 {
	font-family: 'ubuntu', sans-serif;
	font-weight: 700;
	font-style: bold;
	font-size: 2em;
	color: #323a4d;
	margin-left: 50px;
}

.skillTitle h1 {
    width: 30%;
    float: right;
	font-family: 'ubuntu', sans-serif;
	font-weight: 700;
	font-style: bold;
	font-size: 2em;
	color: #323a4d;
}

.sectionContent1 h0 {
	font-family: 'ubuntu', sans-serif;
	font-weight: 700;
	font-style: bold;
	font-size: 2em;
	color: #323a4d;
	margin-left: 50px;
	margin-bottom: 10px;
}
.sectionContent1 h3 {
	font-family: 'ubuntu', sans-serif;
	font-weight: 700;
	font-style: bold;
	font-size: 2em;
	color: #323a4d;
	margin-bottom: 10px;
}

.sectionContent h1 {
	font-family: 'ubuntu', Helvetica, Arial, sans-serif;
	font-size: 1.8em;
	margin-bottom: 10px;
	display: inline;
	font-weight: bold;
}

.sectionContent h2 {
	font-family: 'ubuntu', Helvetica, Arial, sans-serif;
	font-size: 1.8em;
	margin-bottom: 10px;
	margin-bottom: -2px;
}

.subDetailsTime {
	font-size: 0.8em;
	float: left;
	font-style: italic;
	color: #449398;
	font-weight: bold;
	margin-top: 12px;
	margin-bottom: 8px;
}

.subDetailsLocation {
	font-size: 0.8em;
	float: right;
	font-style: italic;
	color: #449398;
	font-weight: bold;
	margin-top: 12px;
    margin-bottom: 8px;
	margin-right: 70px;
}

.leftBorderBlock {
	border-left: 50px solid #449398;
	padding-left: 20px;
}

.leftPaddingBlock {
	padding-left: 100px;
	padding-top: 10px;
}

.leftPaddingBlock1 {
	padding-left: 70px;
	padding-top: 10px;
}

.subDetailsWorkDone {
	font-size: 1em;
	text-align: left;
	float: left;
	font-style: italic;
	color: #6a6d74;
	margin-top: 12px;
	margin-bottom: 5px;
}

.subDetailsAchievements{
	font-size: 1em;
	text-align: left;
	font-style: italic;
	color: #449398;
	font-weight: bold;
	margin-top: 8px;
	margin-bottom: 8px;
}

ul.bullets {
  font-size: 1em;
  list-style-position:inside;
  margin-right:25px;
  list-style-type: none
}

li.bullets {
    padding-left:13px;
    margin-right:25px;
    list-style: none;
	margin-bottom: 8px;
	list-style-type: none
}
li.bullets1::before {
	list-style-type: none
	color: #ededed;
	content: none;
}

li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #449398; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.subDetails {
	font-size: 0.8em;
	font-style: italic;
	margin-bottom: 3px;
}

.companyExperience {
    margin-top: 5px ;
    padding-top: 5px;
    margin-bottom: 5px ;
    padding-bottom: 5px;
}

.column {
  float: left; /* Should be removed. Only for demonstration */
}

.left {
  width: 57%;
}

.right {
  width: 38%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.skillSection {
    align: left;
    width: 100%;
}

.fade_rule {
        height: 1.2px;
        background-color: #E6E6E6;
        width: 38.0em;
        margin: 0 auto;
        background-image: linear-gradient(left , #f3f3f3 1%, #E6E6E6 50%, #f3f3f3 99%);
        background-image: -o-linear-gradient(left , #f3f3f3 1%, #E6E6E6 50%, #f3f3f3 99%);
        background-image: -moz-linear-gradient(left , #f3f3f3 1%, #E6E6E6 50%, #f3f3f3 99%);
        background-image: -webkit-linear-gradient(left , #f3f3f3 1%, #E6E6E6 50%, #f3f3f3 99%);
        background-image: -ms-linear-gradient(left , #f3f3f3 1%, #E6E6E6 50%, #f3f3f3 99%);
        background-image: -webkit-gradient( linear, left bottom, right bottom, color-stop(0, #f3f3f3), color-stop(0.5, gray), color-stop(1, #f3f3f3) );
}

.keySkills {
	list-style-type: none;
	-moz-column-count:3;
	-webkit-column-count:3;
	column-count:3;
	margin-bottom: 20px;
	font-size: 1em;
	color: #444;
}

.keySkills ul li {
    margin-top: 8px;
	margin-bottom: 8px;
}

.button {
  background-color: #989ca6; /* Grey */
  border: none;
  color: white;
  padding: 9px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
}

@media all and (min-width: 602px) and (max-width: 800px) {
	#headshot {
		display: none;
	}
	
	.keySkills {
	-moz-column-count:2;
	-webkit-column-count:2;
	column-count:2;
	}
}

@media all and (max-width: 601px) {
	#cv {
		width: 95%;
		margin: 10px auto;
		min-width: 280px;
	}
	
	#headshot {
		display: none;
	}
	
	#name, #contactDetails {
		float: none;
		width: 100%;
		text-align: center;
	}
	
	.sectionTitle, .sectionContent {
		float: left;
		width: 100%;
	}

    .sectionTitle1 {
        float: left;
        width: 40%;
    }
	.sectionContent1 {
        float: left;
        width: 100%;
    }
    .skillSection {
        align: left;
        width: 100%;
    }
    .sectionContent2 {
        float: left;
        width: 100%;
    }
	
	.sectionTitle {
		margin-left: -2px;
		font-size: 1.25em;
	}

	.sectionTitle1 {
        margin-left: -2px;
        font-size: 1.25em;
    }
	
	.keySkills {
		-moz-column-count:2;
		-webkit-column-count:2;
		column-count:2;
	}
}

@media all and (max-width: 480px) {
	.mainDetails {
		padding: 15px 15px;
	}
	
	section {
		padding: 15px 0 0;
	}
	
	#mainArea {
		padding: 0 0;
	}

	
	.keySkills {
	-moz-column-count:1;
	-webkit-column-count:1;
	column-count:1;
	}
	
	#name h1 {
		line-height: .8em;
		margin-bottom: 14px;
	}

	#info h2 {
	    line-height: .8em;
    	margin-bottom: 14px;
	}
}

@media print {
    #cv {
        width: 100%;
    }
}

@-webkit-keyframes reset {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@-webkit-keyframes fade-in {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes reset {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@-moz-keyframes fade-in {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes reset {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.instaFade {
    -webkit-animation-name: reset, fade-in;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease-in;
	
	-moz-animation-name: reset, fade-in;
    -moz-animation-duration: 0.5s;
    -moz-animation-timing-function: ease-in;
	
	animation-name: reset, fade-in;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
}

.quickFade {
    -webkit-animation-name: reset, fade-in;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-in;
	
	-moz-animation-name: reset, fade-in;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: ease-in;
	
	animation-name: reset, fade-in;
    animation-duration: 1s;
    animation-timing-function: ease-in;

    color: #323a4d;
}
 
.delayOne {
	-webkit-animation-delay: 0, 1s;
	-moz-animation-delay: 0, 1s;
	animation-delay: 0, 1s;
}

.delayTwo {
	-webkit-animation-delay: 0, 1s;
	-moz-animation-delay: 0, 1s;
	animation-delay: 0, 1s;

}

.delayThree {
	-webkit-animation-delay: 0, 1s;
	-moz-animation-delay: 0, 1s;
	animation-delay: 0, 1s;
	color: #449398;
}

.delayFour {
	-webkit-animation-delay: 0, 2s;
	-moz-animation-delay: 0, 2s;
	animation-delay: 0, 2s;
}

.delayFive {
	-webkit-animation-delay: 0, 1s;
	-moz-animation-delay: 0, 1s;
	animation-delay: 0, 1s;
}